<div>
    <h3>{{alunoParaExibir.name | uppercase}}</h3>
    <ul>
        <li>Idade: {{alunoParaExibir.age}}</li>
        <li>Url: {{alunoParaExibir.url}}</li>
    </ul>
    <hr>
    <!--
    <label>Digite o nome do aluno:
        <input type="text" [(ngModel)]="alunoParaExibir.name" placeholder="Digite o nome do aluno">
    </label>
    <label>Digite a idade do aluno:
        <input type="number" [(ngModel)]="alunoParaExibir.age" placeholder="Digite a idade do aluno">
    </label>
    <label>Digite a url do aluno:
        <input type="text" [(ngModel)]="alunoParaExibir.url" placeholder="Digite a url da foto do aluno">
    </label>
    -->

</div>